@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
.header-container-s {
    background-color: #f18593;
}

.actived {
    background-color: #565656;
    color: aliceblue!important;
}

.navigation a:hover {
    background-color: #565656;
    color: aliceblue;
}

.photo-profile {
    background-color: #f18593;
}

.name {
    color: #f18593;
}

.info-container {
    display: flex;
    width: 80%;
    margin: 6rem 10%;
    padding: 2rem 2%;
    justify-content: center;
    align-items: center;
    background: #a3a3a3;
    background: linear-gradient(90deg, #a3a3a300 0%, #a3a3a34b 29%, #717171d2 89%);
}

.info-container-off {
    display: flex;
    width: 80%;
    margin: 6rem 10%;
    padding: 2rem 2%;
    align-items: center;
}

.graduate {
    width: 20%;
    position: absolute;
    right: 1rem;
    margin-top: 10rem;
    transform: rotate(16deg);
}

.game {
    font-size: 300%;
    position: absolute;
    left: 140px;
    top: 670px;
    transform: rotate(-25deg);
}

.chip {
    font-size: 400%;
    position: absolute;
    left: 90px;
    top: 580px;
    transform: rotate(-5deg);
}

.code-demo {
    font-size: 400%;
    position: absolute;
    left: 170px;
    top: 500px;
}

.music {
    font-size: 240%;
    position: absolute;
    left: 220px;
    top: 710px;
    transform: rotate(-5deg);
}

.titles {
    font-family: 'lobster', cursive;
    font-size: 250%;
    width: 40%;
    color: #303030;
    margin-left: 10%;
}

.text-container {
    width: 60%;
}

.text {
    color: #303030;
    font-family: 'League Spartan', sans-serif;
    font-size: 120%;
}

.form-container {
    background-color: #565656;
    padding: 1rem 0rem;
    margin-bottom: 5rem;
}

.separator {
    background: linear-gradient(90deg, rgba(86, 86, 86, 0.2442110633315826) 0%, rgb(236, 114, 114) 50%, rgba(86, 86, 86, 0.15737632943802526) 100%);
}

.form-title {
    font-family: 'lobster', cursive;
    color: #e2e2e2;
    text-align: center;
    padding-top: 3rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    margin: 2rem 27%;
}

.contact-form label {
    display: flex;
    flex-direction: column;
}

.contact-form span {
    margin-top: 1rem;
    color: aliceblue;
    font-family: 'League Spartan', sans-serif;
}

.contact-form input,
textarea {
    background-color: #ffffff00;
    outline: none;
    transition: 180ms;
    border-radius: 5px;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #e2e2e2;
    transform: translateX(-0.4rem);
}

.contact-form input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.contact-form input[type=number] {
    -moz-appearance: textfield;
}

.input-focus-out {
    transform: translateY(1.6rem);
}

.contact-form input:focus,
textarea:focus {
    border-left: solid;
    border-left-color: #f14c62!important;
    border-bottom-color: #f14c62;
}

#message {
    border-left: solid;
    transition: 250ms;
}

.contact-form button {
    margin: 2rem 30%;
    width: 40%;
    height: 3rem;
    border: none;
    background-color: #f18593;
    border-radius: 1rem;
    transition: 300ms;
}

.contact-form button:hover {
    background-color: #f14c62;
    color: #e2e2e2;
}

.footer-top {
    background-color: #f18593;
}

.footer-subtitle {
    color: #f18593;
}