@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
body {
    background-image: url(../img/ui/background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.header-container-b {
    height: 18rem;
    width: 100%;
    background-color: #565656;
}

#code-logo {
    font-size: 1800%;
    position: absolute;
    color: #494949;
}

.header-container-s {
    height: 5rem;
    width: 100%;
    background-color: #b5eecd;
    transition: 200ms;
}

.navigation-brand {
    display: flex;
    align-items: center;
    text-align: center;
    opacity: 0;
    transition: 230ms;
    position: absolute;
}

.opacity {
    opacity: 1;
}

.navigation-brand span {
    margin-left: 1rem;
}

.code-minilogo {
    background-color: #565656;
    color: aliceblue;
    padding: 1rem 0.8rem;
    font-size: 250%;
    border-radius: 100rem;
    margin-top: 0.25rem;
    margin-left: 1rem;
}

.mini-name {
    height: 100%;
    font-family: 'Hubballi', cursive;
    font-weight: 800;
    letter-spacing: 1px;
    transition: 700ms;
}

.effect-spacing-letter {
    letter-spacing: -12px;
}

.phantom-container {
    height: 5rem;
    width: 100%;
}

.photo-profile-container {
    height: 13rem;
    width: 13rem;
    position: absolute;
    margin-left: 25%;
    margin-top: -10rem;
}

.photo-profile {
    width: 100%;
    border-radius: 100%;
    padding: 4%;
    background-color: #b5eecd;
}

.name-container {
    margin-left: 45%;
    padding-top: 11rem;
}

.name {
    font-size: 240%;
    font-family: 'Hubballi', cursive;
    color: #b5eecd;
    font-weight: bold;
}

.navigation {
    display: flex;
    justify-content: end;
    padding-top: 0.5rem;
    width: 100%;
}

.navigation a {
    border-radius: 1.3rem;
    margin: 1.2rem 2.5rem;
    display: block;
    text-decoration: none;
    color: #2b2b2b;
}

.navigation a:hover {
    background-color: #f0c3a2;
    color: #2b2b2b;
    padding: 1.2rem 2rem;
    margin: 0 0.5rem!important;
}

.actived {
    background-color: #f0c3a2;
    color: #2b2b2b;
    transition: 400ms;
    padding: 1.2rem 2rem;
    margin: 0 0.5rem!important;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container div {
    background-color: #565656;
    height: 16rem;
    width: 70%;
    margin-top: 6rem;
    display: flex;
    align-items: center;
}

.main-container div h3 {
    color: #b5eecd;
    width: 40%;
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    font-weight: 800;
    font-size: 225%;
}

.main-container div p {
    color: aliceblue;
    width: 60%;
    padding: 0 2rem;
    font-family: 'League Spartan', sans-serif;
}

.links,
.links-bold {
    color: #f14c62;
    transition: 200ms;
    text-decoration: none;
}

.links-bold {
    font-family: 'League Spartan', sans-serif;
}

.links:hover {
    color: #ace7eb;
    background-color: #565656;
    border-radius: 0.2rem;
    padding: 0.2rem 0rem;
}

.projects-container {
    background-color: #e8ba86;
    height: 40rem;
    margin-top: 6rem;
}

.projects-container h3 {
    text-align: center;
    font-family: 'League Spartan', sans-serif;
    padding-top: 3rem;
}

.project {
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.project-text,
.project-title {
    color: #2b2b2b;
    margin: 2.5%;
    font-family: 'League Spartan', sans-serif;
}

.project div img {
    width: 95%;
    margin: 2.5%;
}

.mini-button {
    text-align: end;
    margin-top: 20%;
    margin-right: 5%;
    color: #f14c62;
    font-family: 'League Spartan', sans-serif;
}

.cross-button-light {
    color: aliceblue!important;
    background-color: #00000000;
    border: none;
    font-size: 150%;
    padding-right: 1rem;
}

.modal-header {
    background-color: #565656;
    border-bottom-color: #333333!important;
    box-shadow: 0px 0px 10px #333333;
    padding: 0.5rem!important;
}

.modal-body {
    display: flex;
    background-color: #494949;
    box-shadow: 0px 5px 10px #333333;
}

.modal-subtitle {
    margin-left: 1rem;
}

.modal-project-text-container {
    width: 35%;
}

.modal-title,
.modal-text,
.modal-subtitle {
    font-family: 'League Spartan', sans-serif;
    color: #dddddd;
}

.modal-title {
    margin-left: 5%;
}

.modal-text {
    margin: 1rem 7%;
}

.modal-page-button {
    margin-bottom: -5rem;
    margin-left: 77%;
    color: #dddddd!important;
    border-color: #b5eecd!important;
    transition: 400ms!important;
}

.modal-page-button:hover {
    background-color: #b5eecd!important;
    border-color: #3a3a3a00!important;
    color: #333333!important;
}

.carousel-container {
    width: 65%;
}

.carousel-inner {
    height: 25rem;
}

.carousel-item {
    width: 100%;
    height: 100%;
}

.carousel-item img {
    width: 100%;
    height: 100%;
}

.separator {
    background: rgb(86, 86, 86);
    background: linear-gradient(90deg, rgba(86, 86, 86, 0.2442110633315826) 0%, rgba(86, 86, 86, 1) 50%, rgba(86, 86, 86, 0.15737632943802526) 100%);
    width: 65%;
    height: 0.1rem;
    margin-left: 17.5%;
}

.projects-container article {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.project-cards {
    background-color: #f0eeee;
    width: 19rem;
    height: 24rem;
    margin: 3rem;
    box-shadow: 0px 2px 10px #383838;
    transition: 400ms;
    border-radius: 0.8rem;
}

.project-cards:hover {
    width: 20.5rem;
    height: 25.5rem;
    margin-top: 2rem;
}

.project-img {
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.skills-container {
    display: flex;
    justify-content: center;
}

.skills-container-inner {
    margin: 6rem 3rem;
    width: 85%;
    height: 40rem;
    background-color: #565656;
}

.skills-container-inner h3 {
    text-align: center;
    margin-top: 3rem;
    font-family: 'League Spartan', sans-serif;
    color: #b5eecd;
}

.separator-b {
    background: #b5eecd;
    background: linear-gradient(90deg, rgba(86, 86, 86, 0.2442110633315826) 0%, #b5eecd 50%, rgba(86, 86, 86, 0.15737632943802526) 100%);
    width: 65%;
    height: 0.1rem;
    margin-left: 17.5%;
}

.skillset {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0rem 5rem;
}

.skillset div {
    width: 8rem;
    height: 8rem;
    margin: 4rem 6.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.icons {
    font-size: 600%;
    transition: 500ms;
    filter: drop-shadow(0px 0px 10px #3a3a3a);
}

.icons:hover {
    font-size: 800%;
    filter: drop-shadow(0px 30px 3px #000000);
}

.subtitles {
    font-size: 150%;
    font-family: 'League Spartan', sans-serif;
    color: #b5eecd;
    margin-top: 1rem;
}

.fa-html5 {
    color: #e45a3f;
}

.fa-css3 {
    color: #01aeea;
}

.fa-js-square {
    color: #ead41c;
}

.fa-bootstrap {
    color: #7d11f0;
}

.fa-react {
    color: #00d6fe;
}

.fa-node {
    color: #63b649;
}

.footer-top {
    width: 100%;
    height: 4rem;
    background-color: #b5eecd;
    font-family: 'League Spartan', sans-serif;
    color: #565656;
    display: flex;
    align-items: center;
}

.footer-top h3 {
    margin-left: 17rem;
}

.footer-top a {
    margin: 0 4rem;
    font-size: 200%;
    justify-content: center;
}

.social {
    width: 2.5rem;
    filter: drop-shadow(-4px 1px 6px #424242);
}

.fa-github {
    font-size: 2.5rem;
    margin-top: 0.8rem;
    color: #7c2ada;
}

.footer-bottom {
    width: 100%;
    background-color: #565656;
}

.footer-subtitle {
    color: #b5eecd;
    font-family: 'League Spartan', sans-serif;
    margin-left: 18%;
    padding-top: 2rem;
}

.form-link {
    text-decoration: none;
    color: #e8ba86;
    font-family: 'League Spartan', sans-serif;
    transition: 300ms;
}

.form-link:hover {
    color: #ee5700;
}

.credits {
    font-size: 80%;
    margin: 0rem 4rem;
    padding-top: 4rem;
    padding-bottom: 1.5rem;
    align-items: end;
    color: aliceblue;
}

.credits a {
    color: #e8ba86;
    transition: 300ms;
}

.credits a:hover {
    color: #ee5700;
}